.c0 { color: rgba(118, 39,108,1) }	/* Main Primary color */
.c1 { color: rgba(177,118,169,1) }
.c2 { color: rgba(147, 74,138,1) }
.c3 { color: rgba( 88, 15, 79,1) }
.c4 { color: rgba( 59,  0, 52,1) }

.x1 { color: rgba(220, 0, 78, 1) }

.b1 { background: #360033 }

html
{
    height: 100%;
}

body
{
    background: linear-gradient(to bottom, #0b8793, #360033);
    background: linear-gradient(to bottom, #b6fbff, #83a4d4);
}
