.c0 { color: rgba(118, 39,108,1) }	/* Main Primary color */
.c1 { color: rgba(177,118,169,1) }
.c2 { color: rgba(147, 74,138,1) }
.c3 { color: rgba( 88, 15, 79,1) }
.c4 { color: rgba( 59,  0, 52,1) }

.x1 { color: rgba(220, 0, 78, 1) }

.b1 { background: #360033 }

html
{
    height: 100%;
}

body
{
    background: linear-gradient(to bottom, #0b8793, #360033);
    background: linear-gradient(to bottom, #b6fbff, #83a4d4);
    background: linear-gradient(to bottom, #9DAD33, #9DAD33);
    background: linear-gradient(to bottom, #B9D3B6, #53626F);
    background: linear-gradient(to bottom, #53626F, #53626F);
    background: linear-gradient(to bottom, #5C3160, #5C3160);
    background: linear-gradient(to bottom, #6C3302, #6C3302);
    background: linear-gradient(to bottom, #BC9B6A, #BC9B6A);
    background: linear-gradient(to bottom, #C2B9A7, #C2B9A7);
    background: linear-gradient(to bottom, #b6fbff, #83a4d4);
    background: linear-gradient(to bottom, #b6fbff, #0db7ed);
}

/* ::-webkit-scrollbar
{
  height : 12px;               
  width  : 8px;               
  border : 1px solid #ff0000;
  background : magenta;
} */

::-webkit-scrollbar {
    height: 16px;
    background: black;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);

    background: radial-gradient(ellipse at center, #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: radial-gradient(ellipse at center, #fefcea 0%,#f1da36 100%);
    background: linear-gradient(to bottom, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
}